:root{
    --clr-primary: #000;
    --clr-landing: #724991;
    --clr-footer: #aacbff56;
    /* Set Up Some Colors here */

    --ff-heading-800: "Poppins", sans-serif;
    --ff-heading-400: "Itim", sans-serif;
    --ff-text: "Poppins", sans-serif;
    /* Setup some fonts here */
}


/* Contatc Styles */
#contact{
    background: url();
    background-size: cover;
    width: 100%;
}

.section-flex{
  display: flex;
  /* flex-direction: column; */
justify-content: center;
  align-items: center;
}

#contact .contact-form{
  border-radius: 0.2rem;
   /* margin: 4rem auto;  */
    background-color: var(--clr-footer);
  width: 60%;
    padding: 5rem 3rem ;
    margin: 0;
}


.contact-form form .form{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 0;
 
}

#contact button{
    border-style: none;
    margin: 1rem 0;
}
.form-field{
    display: flex;
    flex-direction: column;
}

.input-wrapper{
  margin-bottom: 5rem;
}

.half-width-form{
  width: 50%;
}

.form-flex{
  display: flex;
  flex-direction: row;
}

#contact input,
#contact span,
label,
textarea {
  font-family: 'Poppins', sans-serif;
  display: block;
  margin: 10px;
  padding: 5px;
  border: none;
  font-size: 15px;
}

textarea:focus,
input:focus {
  outline: 0;
}
/* Question */

input.question,
textarea.question {
  font-size: 20px;
  font-weight: 300;
  border-radius: 2px;
  margin: 0;
  border: none;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  transition: padding-top 0.2s ease, margin-top 0.2s ease;
  overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
}
/* Underline and Placeholder */

input.question + label,
textarea.question + label {
  display: block;
  position: relative;
  white-space: nowrap;
  padding: 0;
  /* margin: 1.5rem 0; */
  width: 10%;
  border-top: 1px solid red;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
  height: 0px;
}

input.question:focus + label,
textarea.question:focus + label {
  width: 95%;
}

input.question:focus,
input.question:valid {
  padding-top: 35px;
}

textarea.question:valid,
textarea.question:focus {
  margin-top: 35px;
}

input.question:focus + label > span,
input.question:valid + label > span {
  top: -100px;
  font-size: 12px;
  color: var(--clr-primary);
}

textarea.question:focus + label > span,
textarea.question:valid + label > span {
  top: -150px;
  font-size: 12px;
  color: var(--clr-primary);
}

input.question:valid + label,
textarea.question:valid + label {
  border-color: green;
}

input.question:invalid,
textarea.question:invalid {
  box-shadow: none;
}

input.question + label > span,
textarea.question + label > span {
  font-weight: 300;
  margin: 0;
  position: absolute;
  color: var(--clr-primary);
  font-size: 20px;
  top: -66px;
  left: 0px;
  z-index: -1;
  -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

input[type="submit"] {
  -webkit-transition: opacity 0.2s ease, background 0.2s ease;
  transition: opacity 0.2s ease, background 0.2s ease;
  display: block;
  opacity: 0;
  margin: 10px 0 0 0;
  padding: 10px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: var(--clr-primary);
}

input[type="submit"]:active {
  background: #999;
}

input.question:valid ~ input[type="submit"], textarea.question:valid ~ input[type="submit"] {
  -webkit-animation: appear 1s forwards;
  animation: appear 1s forwards;
}

input.question:invalid ~ input[type="submit"], textarea.question:invalid ~ input[type="submit"] {
  display: none;
}

@-webkit-keyframes appear {
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}
/* Contatc Styles Ends */


.contact-info{
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  margin: 0;
  padding: 0;
}

.info-sections img{
  margin-right: 2rem;

}

.info-sections{
  display: flex;
  margin: 1rem;
  /* align-items: center; */
  /* justify-content: space-between; */
  padding: 2rem;
  background: var(--clr-footer);
  width: 70%;
  border-radius: 0.2rem;
}

.col-flex{
  width: 10rem;
}

@media(max-width:980px){

  .section-flex{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
  }


  #contact .contact-form{
    width: 100%;
    padding: 4rem 0rem;
  }

  .contact-form form .form{

  
    padding: 0rem ;
 
}

.form-flex{
  display: flex;
  flex-direction: column;
}

.half-width-form{
  width: 100%;
}

.info-sections{
  width: 100%;
  align-items: center;
  justify-content: left;
  margin: 0;
  padding: 0;
}

.contact-info{
  width: 100%;
}



}